---
http_interactions:
- request:
    method: get
    uri: https://api.fal.ai/v1/models?endpoint_id=fal-ai/flux/dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - BYPASS
      X-Vercel-Id:
      - iad1::iad1::fdbmv-1761932238452-21280daf9d59
    body:
      encoding: ASCII-8BIT
      string: '{"models":[{"endpoint_id":"fal-ai/flux/dev","metadata":{"display_name":"FLUX.1
        [dev]","category":"text-to-image","description":"FLUX.1 [dev] is a 12 billion
        parameter flow transformer that generates high-quality images from text. It
        is suitable for personal and commercial use.","status":"active","tags":[],"updated_at":"2025-08-28T01:08:16.920Z","is_favorited":false,"thumbnail_url":"https://storage.googleapis.com/fal_cdn/fal/Upscale-1.jpeg","model_url":"https://fal.run/fal-ai/flux/dev","license_type":"commercial","date":"2025-04-01T18:10:42.284Z","group":{"key":"flux-1","label":"Text
        to Image [dev]"},"highlighted":true,"kind":"inference","stream_url":"https://fal.run/fal-ai/flux/dev/stream","pinned":false}}],"next_cursor":null,"has_more":false}'
  recorded_at: Fri, 31 Oct 2025 17:37:18 GMT
recorded_with: VCR 6.3.1
