---
http_interactions:
- request:
    method: get
    uri: https://api.fal.ai/v1/models/pricing?endpoint_id=fal-ai/flux/dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - BYPASS
      X-Vercel-Id:
      - iad1::iad1::xwsd6-1761932245301-d7843e4d0dfe
    body:
      encoding: ASCII-8BIT
      string: '{"prices":[{"endpoint_id":"fal-ai/flux/dev","unit_price":0.025,"unit":"megapixels","currency":"USD"}],"next_cursor":null,"has_more":false}'
  recorded_at: Fri, 31 Oct 2025 17:37:25 GMT
recorded_with: VCR 6.3.1
