---
http_interactions:
- request:
    method: post
    uri: https://queue.fal.run/fal-ai/flux/dev
    body:
      encoding: UTF-8
      string: '{"prompt":"class run"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fal-Request-Id:
      - 586debe6-0389-4aef-8593-435924434673
    body:
      encoding: UTF-8
      string: '{"status": "IN_QUEUE", "request_id": "586debe6-0389-4aef-8593-435924434673",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/586debe6-0389-4aef-8593-435924434673",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/586debe6-0389-4aef-8593-435924434673/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/586debe6-0389-4aef-8593-435924434673/cancel",
        "logs": null, "metrics": {}, "queue_position": 0}'
  recorded_at: Fri, 31 Oct 2025 17:26:59 GMT
recorded_with: VCR 6.3.1
