---
http_interactions:
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/7fac1d1e-1393-45d9-9429-33468cface7e/status?logs=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "IN_PROGRESS", "request_id": "7fac1d1e-1393-45d9-9429-33468cface7e",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/7fac1d1e-1393-45d9-9429-33468cface7e",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/7fac1d1e-1393-45d9-9429-33468cface7e/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/7fac1d1e-1393-45d9-9429-33468cface7e/cancel",
        "logs": [], "metrics": {}}'
  recorded_at: Fri, 31 Oct 2025 17:19:11 GMT
[...]
- request:
    method: post
    uri: https://queue.fal.run/fal-ai/flux/dev
    body:
      encoding: UTF-8
      string: '{"prompt":"a dog"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fal-Request-Id:
      - 5c17e5b2-07da-4e2d-95f0-d0a300e45c44
    body:
      encoding: UTF-8
      string: '{"status": "IN_QUEUE", "request_id": "5c17e5b2-07da-4e2d-95f0-d0a300e45c44",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44/cancel",
        "logs": null, "metrics": {}, "queue_position": 0}'
  recorded_at: Fri, 31 Oct 2025 17:37:20 GMT
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44/status?logs=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "IN_PROGRESS", "request_id": "5c17e5b2-07da-4e2d-95f0-d0a300e45c44",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/5c17e5b2-07da-4e2d-95f0-d0a300e45c44/cancel",
        "logs": [], "metrics": {}}'
  recorded_at: Fri, 31 Oct 2025 17:37:20 GMT
recorded_with: VCR 6.3.1
