---
http_interactions:
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "IN_PROGRESS", "request_id": "d39f7b34-ad9f-41cd-b849-7033c49ad464",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/cancel",
        "logs": null, "metrics": {}}'
  recorded_at: Fri, 31 Oct 2025 17:19:11 GMT
[...]
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "COMPLETED", "request_id": "d39f7b34-ad9f-41cd-b849-7033c49ad464",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464/cancel",
        "logs": null, "metrics": {"inference_time": 1.3780498504638672}}'
  recorded_at: Fri, 31 Oct 2025 17:19:14 GMT
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/d39f7b34-ad9f-41cd-b849-7033c49ad464
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fal-Billable-Units:
      - '1'
      X-Fal-Served-From:
      - 1eb01a7a-4a02-4bf9-9160-02d0b68d2fc3
      X-Fal-Request-Id:
      - d39f7b34-ad9f-41cd-b849-7033c49ad464
    body:
      encoding: UTF-8
      string: '{"images":[{"url":"https://v3b.fal.media/files/b/koala/4mlkXiMXG892I9ZLPYzDW.jpg","width":1024,"height":768,"content_type":"image/jpeg"}],"timings":{"inference":1.2035263776779175},"seed":1682807761,"has_nsfw_concepts":[false],"prompt":"final
        response"}'
  recorded_at: Fri, 31 Oct 2025 17:19:14 GMT
[...]
- request:
    method: post
    uri: https://queue.fal.run/fal-ai/flux/dev
    body:
      encoding: UTF-8
      string: '{"prompt":"final response"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fal-Request-Id:
      - c0f19a90-9166-4de0-893e-8c69f0a0b1f7
    body:
      encoding: UTF-8
      string: '{"status": "IN_QUEUE", "request_id": "c0f19a90-9166-4de0-893e-8c69f0a0b1f7",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/c0f19a90-9166-4de0-893e-8c69f0a0b1f7",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/c0f19a90-9166-4de0-893e-8c69f0a0b1f7/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/c0f19a90-9166-4de0-893e-8c69f0a0b1f7/cancel",
        "logs": null, "metrics": {}, "queue_position": 1}'
  recorded_at: Fri, 31 Oct 2025 17:37:20 GMT
[...]
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/c0f19a90-9166-4de0-893e-8c69f0a0b1f7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Fal-Billable-Units:
      - '1'
      X-Fal-Served-From:
      - 067331e7-83ce-4d72-b356-14df9dcd8b02
      X-Fal-Request-Id:
      - c0f19a90-9166-4de0-893e-8c69f0a0b1f7
    body:
      encoding: UTF-8
      string: '{"images":[{"url":"https://v3b.fal.media/files/b/panda/2gbFyYm15cAHeErlQkzd2.jpg","width":1024,"height":768,"content_type":"image/jpeg"}],"timings":{"inference":1.2320446306839585},"seed":32363825,"has_nsfw_concepts":[false],"prompt":"final
        response"}'
  recorded_at: Fri, 31 Oct 2025 17:37:23 GMT
recorded_with: VCR 6.3.1
