---
http_interactions:
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "IN_PROGRESS", "request_id": "207ea863-5bd8-4f93-aa17-16c87b528b8d",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/cancel",
        "logs": null, "metrics": {}}'
  recorded_at: Fri, 31 Oct 2025 17:19:10 GMT
- request:
    method: get
    uri: https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/status?logs=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "IN_PROGRESS", "request_id": "207ea863-5bd8-4f93-aa17-16c87b528b8d",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/cancel",
        "logs": [], "metrics": {}}'
  recorded_at: Fri, 31 Oct 2025 17:19:10 GMT
- request:
    method: put
    uri: https://queue.fal.run/fal-ai/flux/requests/207ea863-5bd8-4f93-aa17-16c87b528b8d/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "CANCELLATION_REQUESTED"}'
  recorded_at: Fri, 31 Oct 2025 17:19:10 GMT
[...]
- request:
    method: post
    uri: https://queue.fal.run/fal-ai/flux/dev
    body:
      encoding: UTF-8
      string: '{"prompt":"a cat"}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Fal-Request-Id:
      - 59899b99-07ca-4177-b21c-037a18d1e441
    body:
      encoding: UTF-8
      string: '{"status": "IN_QUEUE", "request_id": "59899b99-07ca-4177-b21c-037a18d1e441",
        "response_url": "https://queue.fal.run/fal-ai/flux/requests/59899b99-07ca-4177-b21c-037a18d1e441",
        "status_url": "https://queue.fal.run/fal-ai/flux/requests/59899b99-07ca-4177-b21c-037a18d1e441/status",
        "cancel_url": "https://queue.fal.run/fal-ai/flux/requests/59899b99-07ca-4177-b21c-037a18d1e441/cancel",
        "logs": null, "metrics": {}, "queue_position": 0}'
  recorded_at: Fri, 31 Oct 2025 17:37:19 GMT
[...]
- request:
    method: put
    uri: https://queue.fal.run/fal-ai/flux/requests/59899b99-07ca-4177-b21c-037a18d1e441/cancel
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": "CANCELLATION_REQUESTED"}'
  recorded_at: Fri, 31 Oct 2025 17:37:20 GMT
recorded_with: VCR 6.3.1
