---
http_interactions:
- request:
    method: post
    uri: https://api.fal.ai/v1/models/pricing/estimate
    body:
      encoding: UTF-8
      string: '{"estimate_type":"unit_price","endpoints":{"fal-ai/flux/dev":{"unit_quantity":1}}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::iad1::cc2zm-1761932244634-52cee63af63e
    body:
      encoding: ASCII-8BIT
      string: '{"estimate_type":"unit_price","total_cost":0.025,"currency":"USD"}'
  recorded_at: Fri, 31 Oct 2025 17:37:25 GMT
recorded_with: VCR 6.3.1
